body
  div class="main"
    div class="center"
      div id="terminal_container"      
      div class="footer"
        div class="small"
          JoshuaCook
          a<> href="tel:+13104331646" 
            | +13104331646
          a<> href="filesystem/resume.pdf" 
            | • cv
          <br />  
          a href="https://hub.docker.com/u/joshuacook/" 
            docker |
          a href="http://github.com/joshuacook"
            github |
          a href="https://leanpub.com/u/joshuacook"
            leanpub |
          a href="https://www.linkedin.com/in/joshuapaulcook"
            linkedin |
          a href="http://stackoverflow.com/users/1081801/joshua-cook"
            stack |
          a href="http://twitter.com/joshuacook"
            twitter |
          a
            me at joshuacook dot me
          <br />
          © 2016 all rights reserved 

  script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"
  script src="jquery.terminal.js"
  script src="terminal_start.js"
  script src="google_analytics.js"
